'welcome':
  'showOnStartup': false
'editor':
  'fontSize': 12
  'preferredLineLength': 100
'core':
  'disabledPackages': [
    'metrics'
    'welcome'
    'update-package-dependencies'
    'symbols-view'
    'styleguide'
    'snippets'
    'release-notes'
    'package-generator'
    'feedback'
    'exception-reporting'
    'dev-live-reload'
    'deprecation-cop'
    'autosave'
    'autocomplete-plus'
  ]
  'useReactEditor': true
  'themes': [
    'atom-dark-ui'
    'base16-tomorrow-dark-theme'
  ]
'go-plus':
  'goPath': '$HOME/Dropbox/Dev/Go'
  'goExecutablePath': '/usr/local/bin/go'
  'gofmtPath': '/usr/local/bin/gofmt'
  'syntaxCheckOnSave': true
'linter-ruby':
  'rubyExecutablePath': '/usr/local/bin'
'minimap':
  'autoToggle': true
